.links {
  .container {
    max-width: 690px;
    text-align: center;
    margin-top: 50px;

    button {
      margin-bottom: 30px;
    }

    table {
      margin: 0 auto 50px;
      border-spacing: 0;

      tr {
        td {
          border-top: 1px solid #e3e3e3;
          //border-bottom: 1px solid #e3e3e3;
          padding: 20px 10px;
          width: 250px;
          text-align: left;
          margin: 0;
        }

        &:nth-child(10) {
          border-bottom: 1px solid #e3e3e3;
        }

        &:hover {
          background-color: #f1f3f3;
        }
      }
    }
  }
}
