@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=latin-ext');

/* Colors */
$paragraph-color: #333;
$header-color: #a6a6a6;
$brand-main-color: #f58220;
$links-color: #56819f;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: 'Roboto', Helvetica, Arial;


